
* {
    padding: unset;
    margin: unset;
    border: unset;
    outline: none;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Roboto-Regular','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    box-sizing: border-box;
}

@font-face {
    font-family: mywebsitefont;
    src: url('/Roboto-Regular.ttf');
}
@font-face {
    font-family: anotherwebfont;
    src: url('/Roboto-Black.ttf');
}
@font-face {
    font-family: buttonfont;
    src: url('/Roboto-Bold.ttf');
}

:root {
  --margin-page: 60 px;
  --color-primary: #C14F11;
  --color-base: #1D354B;
  --color-secondary: #773621;
  --color-neutral: #ABB1A5;
  --color-shadow: #0E0D1E;
  --color-white: #F2F2F2;
  --color-dark: #979797;
  --text-base: 16px;
  --text-small: 12px;
  --text-title: 24px;
  --text-large: 32;
  --text-jumbo: 64;
  --border-radius: 10px;
  --logo-small: 24px;
  --logo-medium: 32px;
  --logo-large: 56;
}

header{
    margin-top: 10px;
    margin-bottom: 30px;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px;
}
nav ul{
    display: flex;
    gap: 46px;
}

nav ul a{
    color: #F2F2F2;
    font-size: var(--text-base);
}

nav div{
    display: flex;
    gap: 15px;
}

button.inicio {
    background-color: #1D354B;
    color: #F2F2F2;
    padding: 12px 12px;
    border-radius: 10px;
    font-family: buttonfont;
}

button.registrarse{
    background-color: #C14F11;
    color: #F2F2F2;
    padding: 12px 12px;
    border-radius: 10px;
    font-family: buttonfont;
}

.jumbotron{
    background-image: url('/section.jpg');
    background-size: cover;
    background-position: center;
    padding: 300px 60px;
}

.jumbotron h1{
    font-family: anotherwebfont;
    text-align: center;
    font-size: 64px;
}

.cards{
    display: flex;
    align-items: center;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.card > img {

    height: 248px;
}

body {

    color: #F2F2F2;
    background-color: #0E0D1E;   
}
